

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

/* color: #660393;  purple - primary */

p {
  overflow-wrap: break-word;
}

.white {
  color: #fff;
}

.blue {
  color: #53C6B9;
}

.mt40px {
  margin-top: 40px;
}

.mt60px {
  margin-top: 60px;
}

.mt20px {
  margin-top: 20px;
}


.mt100px {
  margin-top: 100px !important;
}



h1, h2 { font-family: 'Montserrat', sans-serif !important; font-weight: 500; }

h1 { color: #fff !important; letter-spacing: 0.1rem; }
h2 { color: #5E5E5E; }
h4 { letter-spacing: 0.05rem; }


.navbar-fixed-top, .navbar-header, .navbar {
  background-color: #5E5E5E;
  margin-bottom: 20px;
  height: 80px;
}

.jumbotron {
    padding: 30px 15px;
    margin:20px 0 30px 0;
    color: inherit;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#53c6b9+0,165d60+100 */
background: #53c6b9; /* Old browsers */
background: -moz-linear-gradient(top, #53c6b9 0%, #008D7D 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #53c6b9 0%,#008D7D 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #53c6b9 0%,#008D7D 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53c6b9', endColorstr='#008D7D',GradientType=0 ); /* IE6-9 */
    border-bottom: #727272 6px solid;
}

.jumbotron-payment {
    padding: 30px 15px;
    margin:20px 0 30px 0;
    color: inherit;
    background-color: #53C6B9;;
    border-bottom: #727272 6px solid;
}

@media screen and (min-width: 768px) {
.jumbotron h1{
    font-size: 63px;
    margin-top: 0 !important;
}
}

#merchantCodeSnippet {
  margin: 0 0 0 0;
  border: 1px solid black;
  padding: 20px;
  background-color: #E8E8E8;
  border-color: #53C6B9;
   box-shadow: 0 0 10px #53C6B9;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #53C6B9;
    background-color: transparent;
    border-radius: 4px;
     font-style: italic;
}

footer {
  height: 200px;
    border-top: #727272 6px solid;
    background-color: #727272;
    margin-top: 50px;
}
.btn-primary, .btn-lg {
  background: #ff6666;
  background-image: -webkit-linear-gradient(top, #ff6666, #eb1717);
  background-image: -moz-linear-gradient(top, #ff6666, #eb1717);
  background-image: -ms-linear-gradient(top, #ff6666, #eb1717);
  background-image: -o-linear-gradient(top, #ff6666, #eb1717);
  background-image: linear-gradient(to bottom, #ff6666, #eb1717);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  border: 0 !important;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 9px 15px 9px 15px;
  text-decoration: none;
}

.btn-primary:hover, .btn-lg:hover {
  background: #F12020;
  background-image: -webkit-linear-gradient(top, #F12020, #FF7878);
  background-image: -moz-linear-gradient(top, #F12020, #FF7878);
  background-image: -ms-linear-gradient(top, #F12020, #FF7878);
  background-image: -o-linear-gradient(top, #F12020, #FF7878);
  background-image: linear-gradient(to bottom, #F12020, #FF7878);
  text-decoration: none;
  border: 0 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color:  #28A395;
    border-color: #28A395; /*set the color you want here*/
}


.icon {
color: #53C6B9;
padding-right: 5px !important;
}

.callout {
  font-size: 3rem;
  color: #53C6B9;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal !important;
}


.caption-code {
  color: grey;
  margin-bottom: 40px;
}

.clip {
  font-size: 3rem;
}

.qr-wrapper {
/*  margin: 0 auto;
  text-align: center; */
}


.imgsize {
  max-width: 100%;
}
